body{
     font-family: "Poppins", sans-serif;
     margin: 0px;
}
.half-width{
    width: 35%;
    float: left;
   margin-left: 8%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.name-highlight{
    color: orange;
}
.top-banner{
    background-image: url(imagess/header-bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.biography-area{
    background-image: url(imagess/biography-bg.png);
    background-repeat: no-repeat;
   background-position-x: right;
}
h2.work{
    text-align: center;
}

.love-width img{
    
    width: 30%;
    height: auto;
    float: left;
    margin-left: 3%;
}
.latest-work-area{
    background-image: url("imagess/latest-work-bg.png");
    background-position-x:right;
    background-repeat: no-repeat;
}
.p{
    color: dimgray;
}
.modde{
    text-align: center;

}
footer{
    text-align: center;
}
.karima{
    background-image: url(imagess/footer-bg.png);
   background-position: 20px top;
}